<form
    [formGroup]="profileForm"
    fxFlex="100%"
    fxFlex.md="60%"
    fxFlex.sm="50%"
    fxFlex.xs="100%"
    fxLayout="column"
    fxLayoutAlign="center stretch"
>
    <br />
    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field class="full-width">
            <mat-label>Ime</mat-label>
            <input matInput formControlName="name" />

            <mat-error
                *ngIf="profileForm.controls['name'].hasError('required')"
            >
                Ime je obavezno polje
            </mat-error>

            <mat-error
                *ngIf="
                    profileForm.controls['name'].hasError(
                        'leadingTrailingSpace'
                    )
                "
            >
                Ime ne sme da počinje niti završava sa razmakom
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Prezime</mat-label>
            <input matInput formControlName="surname" />

            <mat-error
                *ngIf="profileForm.controls['surname'].hasError('required')"
            >
                Prezime je obavezno polje
            </mat-error>

            <mat-error
                *ngIf="
                    profileForm.controls['surname'].hasError(
                        'leadingTrailingSpace'
                    )
                "
            >
                Prezime ne sme da počinje niti završava sa razmakom
            </mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field class="full-width">
            <mat-label>Imejl</mat-label>
            <input matInput formControlName="email" />

            <mat-error
                *ngIf="profileForm.controls['email'].hasError('required')"
            >
                Imejl je obavezno polje
            </mat-error>

            <mat-error *ngIf="profileForm.controls['email'].hasError('email')">
                Imejl mora biti ispravno formiran
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Korisničko ime</mat-label>
            <input matInput formControlName="username" />

            <mat-error
                *ngIf="profileForm.controls['username'].hasError('required')"
            >
                Korisničko ime je obavezno polje
            </mat-error>

            <mat-error
                *ngIf="
                    profileForm.controls['username'].hasError(
                        'leadingTrailingSpace'
                    )
                "
            >
                Korisničko ime ne sme da počinje niti završava sa razmakom
            </mat-error>
        </mat-form-field>
    </div>

    <br />
    <div fxLayout="row" fxLayoutAlign="center center">
        <div
            class="error-color"
            [ngClass]="{
                'error-message': !errorOccurred
            }"
        >
            {{ errorMessage }}
        </div>
    </div>

    <br />
    <div fxLayout="row" fxLayoutAlign="center center">
        <button
            mat-raised-button
            color="primary"
            [disabled]="profileForm.invalid"
            (click)="submit($event)"
        >
            Sačuvaj
        </button>
    </div>
</form>
