<div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    (click)="openAddClassModal()"
>
    <h2>Odeljenja škole: Gimnazija "Svetozar Marković"</h2>
    <button mat-raised-button color="primary">Novo odeljenje</button>
</div>
<table mat-table [dataSource]="classes" class="padded mat-elevation-z5">
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let class">{{ class.id }}</td>
    </ng-container> -->

    <ng-container matColumnDef="naziv">
        <th mat-header-cell *matHeaderCellDef>Naziv</th>
        <td mat-cell *matCellDef="let class">{{ class.naziv }}</td>
    </ng-container>

    <ng-container matColumnDef="brojUcenika">
        <th mat-header-cell *matHeaderCellDef>Broj ucenika</th>
        <td mat-cell *matCellDef="let class">{{ class.brojUcenika }}</td>
    </ng-container>

    <ng-container matColumnDef="staresina">
        <th mat-header-cell *matHeaderCellDef>Odeljenski staresina</th>
        <td mat-cell *matCellDef="let class">
            {{ class.staresina.name + " " + class.staresina.surname }}
        </td>
    </ng-container>

    <ng-container matColumnDef="akcije">
        <th mat-header-cell *matHeaderCellDef>Akcije</th>
        <td mat-cell *matCellDef="let class">
            <button
                mat-raised-button
                color="primary"
                class="table-button"
                (click)="openUpdateClassModal(class)"
            >
                Ažurirati
            </button>
            <button
                mat-raised-button
                color="warn"
                class="table-button"
                (click)="deleteClass(class)"
            >
                Obrisati
            </button>
        </td>
    </ng-container>
</table>
