<mat-toolbar
    color="primary"
    class="mat-elevation-z5"
    fxLayout="row"
    fxLayoutAlign="space-between center"
>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-list>
            <mat-list-item>
                <h1 matListItemTitle style="margin-top: 6%">
                    Pedagoški karton
                </h1>
            </mat-list-item>
        </mat-list>

        <button mat-icon-button (click)="menuClick.emit()">
            <!-- fxHide.gt-sm -->
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div>
        <mat-list>
            <mat-list-item>
                <h1 matListItemLine style="margin-top: 16%">
                    {{ title }}
                </h1>
            </mat-list-item>
        </mat-list>
    </div>
</mat-toolbar>
