<h2 mat-dialog-title>Prijava učenika za nasilno ponašanje</h2>
<mat-dialog-content>
    <form
        [formGroup]="reportForm"
        fxLayout="column"
        fxLayoutAlign="center stretch"
    >
        <mat-form-field>
            <mat-label>Nivo nasilja</mat-label>
            <mat-select
                formControlName="nivoNasilja"
                (selectionChange)="changeObliciNasilja()"
            >
                <mat-option
                    *ngFor="let nivoNasiljaKeyValue of nivoNasiljaKeyValues"
                    [value]="nivoNasiljaKeyValue.key"
                >
                    {{ nivoNasiljaKeyValue.value }}
                </mat-option>
            </mat-select>

            <mat-error
                *ngIf="reportForm.controls['nivoNasilja'].hasError('required')"
            >
                Obavezno polje
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Tip nasilja</mat-label>
            <mat-select
                formControlName="tipNasilja"
                (selectionChange)="changeObliciNasilja()"
            >
                <mat-option
                    *ngFor="let tipNasiljaKeyValue of tipNasiljaKeyValues"
                    [value]="tipNasiljaKeyValue.key"
                >
                    {{ tipNasiljaKeyValue.value }}
                </mat-option>
            </mat-select>

            <mat-error
                *ngIf="reportForm.controls['tipNasilja'].hasError('required')"
            >
                Obavezno polje
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Oblik nasilja</mat-label>
            <mat-select formControlName="oblikNasilja">
                <mat-option
                    *ngFor="let oblikNasiljaKeyValue of oblikNasiljaKeyValues"
                    [value]="oblikNasiljaKeyValue.key"
                >
                    {{ oblikNasiljaKeyValue.value }}
                </mat-option>
            </mat-select>

            <mat-error
                *ngIf="
                    reportForm.controls['oblikNasilja'].hasError('required') &&
                    oblikNasiljaKeyValues.length > 0
                "
            >
                Obavezno polje
            </mat-error>

            <mat-error *ngIf="oblikNasiljaKeyValues.length === 0">
                Odaberite prvo nivo i tip nasilja
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Opis događaja</mat-label>
            <textarea matInput rows="4" formControlName="opis"></textarea>

            <mat-error *ngIf="reportForm.controls['opis'].hasError('required')">
                Obavezno polje
            </mat-error>
        </mat-form-field>

        <!-- {{ JSON.stringify(reportForm.controls["nivoNasilja"].value) }}
        {{ JSON.stringify(reportForm.get("tipNasilja")?.value) }} -->

        <!-- <mat-form-field>
            <mat-label>Odeljenski starešina</mat-label>
            <mat-select formControlName="staresinaId" required>
                <mat-option
                    *ngFor="let teacher of data.additionalData.teachers"
                    [value]="teacher.id"
                >
                    {{ teacher.name + " " + teacher.surname }}
                </mat-option>
            </mat-select>

            <mat-error
                *ngIf="reportForm.controls['staresinaId'].hasError('required')"
            >
                Obavezno polje
            </mat-error>
        </mat-form-field> -->
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button (click)="closeCancel()">Odustani</button>
    <button
        color="primary"
        mat-raised-button
        (click)="closeSubmit()"
        [disabled]="reportForm.invalid"
    >
        Prijavi
    </button>
</mat-dialog-actions>
