<form
    [formGroup]="passwordForm"
    fxLayout="column"
    fxLayoutAlign="center center"
>
    <br />
    <mat-form-field class="full-width">
        <mat-label>Trenutna šifra</mat-label>
        <input
            matInput
            required
            [type]="hideOldPassword ? 'password' : 'text'"
            formControlName="oldPassword"
            maxlength="50"
            (paste)="preventPaste($event)"
        />

        <button
            mat-icon-button
            matSuffix
            (click)="hideOldPassword = !hideOldPassword"
        >
            <mat-icon>
                {{ hideOldPassword ? "visibility_off" : "visibility" }}
            </mat-icon>
        </button>

        <mat-hint align="end" aria-live="polite">
            {{ getPasswordLength(passwordForm.controls["oldPassword"].value) }}
            / 50
        </mat-hint>

        <mat-error
            *ngIf="passwordForm.controls['oldPassword'].hasError('required')"
        >
            Trenutna štifa je obavezna
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Nova šifra</mat-label>
        <input
            matInput
            required
            [type]="hideNewPassword ? 'password' : 'text'"
            formControlName="newPassword"
            maxlength="50"
            (input)="updateRegex($event)"
            (paste)="preventPaste($event)"
        />

        <button
            mat-icon-button
            matSuffix
            (click)="hideNewPassword = !hideNewPassword"
        >
            <mat-icon>
                {{ hideNewPassword ? "visibility_off" : "visibility" }}
            </mat-icon>
        </button>

        <button
            mat-icon-button
            matSuffix
            (click)="hideNewPasswordDetails = !hideNewPasswordDetails"
        >
            <mat-icon>{{
                hideNewPasswordDetails ? "arrow_drop_down" : "arrow_drop_up"
            }}</mat-icon>
        </button>

        <mat-hint align="end" aria-live="polite">
            {{ getPasswordLength(passwordForm.controls["newPassword"].value) }}
            / 50
        </mat-hint>

        <mat-error
            *ngIf="passwordForm.controls['newPassword'].hasError('required')"
        >
            Nova šifra je obavezna
        </mat-error>
        <mat-error
            *ngIf="passwordForm.controls['newPassword'].hasError('mustMatch')"
        >
            Šifre se ne poklapaju
        </mat-error>
    </mat-form-field>

    <mat-password-strength
        class="full-width"
        #newPasswordValidation
        [password]="passwordForm.controls['newPassword'].value"
        [customValidator]="invalidPasswordExpression"
    >
    </mat-password-strength>

    <!-- 
        Nested animation not working properly 
        [@.disabled]="false"
        
     -->
    <mat-password-strength-info
        *ngIf="!hideNewPasswordDetails"
        [@slideInOut]
        style="overflow: hidden"
        [passwordComponent]="newPasswordValidation"
        lowerCaseCriteriaMsg="Barem 1 malo slovo"
        upperCaseCriteriaMsg="Barem 1 veliko slovo"
        digitsCriteriaMsg="Barem 1 cifra"
        specialCharsCriteriaMsg="Barem 1 znak"
        minCharsCriteriaMsg="Između 8 i 50 karaktera"
        [customCharsCriteriaMsg]="customMessage"
    >
    </mat-password-strength-info>

    <mat-form-field class="full-width">
        <mat-label>Potvrda šifre</mat-label>
        <input
            matInput
            required
            [type]="hideNewPassword ? 'password' : 'text'"
            formControlName="repeatedPassword"
            maxlength="50"
            (paste)="preventPaste($event)"
        />

        <button
            mat-icon-button
            matSuffix
            (click)="hideNewPassword = !hideNewPassword"
        >
            <mat-icon>
                {{ hideNewPassword ? "visibility_off" : "visibility" }}
            </mat-icon>
        </button>

        <mat-hint align="end" aria-live="polite">
            {{
                getPasswordLength(
                    passwordForm.controls["repeatedPassword"].value
                )
            }}
            / 50
        </mat-hint>

        <mat-error
            *ngIf="
                passwordForm.controls['repeatedPassword'].hasError('required')
            "
        >
            Neophodna je potvrda
        </mat-error>
        <mat-error
            *ngIf="
                passwordForm.controls['repeatedPassword'].hasError('mustMatch')
            "
        >
            Šifre se ne poklapaju
        </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center center">
        <div
            class="error-color"
            [ngClass]="{
                'error-message': !errorOccurred
            }"
        >
            {{ errorMessage }}
        </div>
    </div>

    <br />
    <div fxLayout="row" fxLayoutAlign="center center">
        <button
            mat-raised-button
            color="primary"
            (click)="changePassword($event)"
            [disabled]="
                passwordForm.invalid || newPasswordValidation.strength !== 100
            "
        >
            Sačuvaj
        </button>
    </div>
</form>
